.col1 {
  width: 72%;
  height: 100vh;
  padding-left: 2%;
  padding-top: 1%;
  padding-right: 2%;
  text-align: justify;
  margin-left: 10%;
  line-height: 25px;
  padding-bottom: 10%;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}
h1 {
  position: relative;
  font-family: 'Julius Sans One', sans-serif;
  color: #58A238;
  text-transform: uppercase;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  margin-left: 30%;
}
h3 {
  position: relative;
  font-family: 'Julius Sans One', sans-serif;
  color: #58A238;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
p {
  margin: 0 auto;
  line-height: 29px;
  word-wrap: break-word;
}
ul {
  list-style: none;
  line-height: 35px;
}

.topheader{
  background-color: white;
  height: 12vh;
  border-bottom: 1px solid #ccc;
}


#bigcaralogo {
  margin-left: 25%;
}

#secondhalf{
  margin-top: 70%;
}
.readmore {
  width: 100px;
  height: 41px;
  margin: 0 auto;
  border: 1px solid #58A238;
  padding: 14px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 12px;
  margin-top: 5%;
}

.topheader{
  background-color: white;
  height: 12vh;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.maincontent{
  background-color: white;
  padding: 20px;
}

/* footer text */

.footertext{
  padding: 20px;
  color: white;
  background-color: black;
  height: 10vh;
}

/* media queries */

@media screen and (max-width: 767px){
  #header {
    display: none;
  }
  .container{
    text-align: center;
  }

}
