html {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  color: #58A238;
  text-transform: uppercase;
}

.defaultfont {
  font-family: 'Maven Pro';
}

.normalfont {
  font-family: 'Maven Pro';
}

.navfont{
  font-family: 'Hind', sans-serif;
  color: #c8c8c8;
  letter-spacing: 1px;
}

.sidebarheaderfont, h2, h3, h4 {
  font-family: 'Julius Sans One', sans-serif;
  color: #58A238;
  text-transform: uppercase;
}

.sidebarfont{
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.bold{
  font-weight: bold;
}

.defaultheader{
  font-family: 'Hind';
  font-size: 1.5em;
}

.seconddefaultheader {
  font-family: 'Julius Sans One';
  font-size: 1.5em;
}

* {
  box-sizing: border-box;
}


body{
  margin: 0;
  padding: 0;
  border: 0;


}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.container {
  height: 100vh;
}

.footer {
  color: white;
  margin: 0 auto;
}





/* media queries */

@media screen and (min-width: 56px){
  .header{
    width: 100%;
    background-color: blue;
    text-align: center;
    padding-top: 2%;
    min-height: 6%;
    padding-left: 2%;
    padding-bottom: 2%;
  }

  .sidebar{
    width: 100%;
    height: 50vh;
    background-color: #4e4e4e;
    text-align: center;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;


  }

  .col1 {
    width: 100%;
    min-height: 40vh;
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    word-wrap: break-word;
  }

  .col1{
    background-color: green;
  }

  .footer {
    background-color: black;
    width: 100%;
    height: 12%;
    text-align: center;
    color: white;
    padding-top: 3%;

  }
} /* end of resolution of 56px */


@media screen and (min-width: 864px){

  body{
    background-color: #4e4e4e;
  }
  .header {
    width: 75%;
    height: 12%;
    float: right;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
  }


  .sidebar {
    width: 25%;
    height: 100vh;
    float: left;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
  }

  .twocolumns {
    background-color: purple;
    width: 75%;
    float: right;
  }

  .col1 {
    float: left;
    width: 100%;
    height: 100vh;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
    text-align: left;
  }

  .footer {
    text-align: center;
    padding-top: 2%;
  }

}
