html {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  color: #58A238;
  text-transform: uppercase;
}

ul{
  list-style-type: none;
  text-align: left;
}

li{
  margin-bottom: 12%;
}

li#lastitem{
  margin-bottom: 3%;
}

.bottom{
  margin-bottom: 7%;
}

.line{
width: 114%;
background-color: #ccc;
height: 1px;
}

.green {
  color: #58A238;
}

.name {
margin-top: 15%;
}

/* ======== FONTS  ============== */

h1 {
  font-family: 'Julius Sans One', sans-serif;
  color: #58A238;
  text-transform: uppercase;
}

.following{
  background: url('../img/check.png') no-repeat;
  background-position: 39%;
  background-size: 13%;
  font-family: Arial, sans-serif;
  margin-top: 16%;
  color: #58A238;
  font-size: 14px;
  letter-spacing: 1px;
}

.defaultfont {
  font-family: 'Maven Pro';
}

.normalfont {
  font-family: 'Maven Pro';
}

.navfont{
  font-family: 'Hind', sans-serif;
  color: #c8c8c8;
  letter-spacing: 1px;
}

.sidebarheaderfont, h2, h3, h4 {
  font-family: 'Julius Sans One', sans-serif;
  color: #58A238;
  text-transform: uppercase;
  text-decoration: none;
}

.sidebarheaderfont, h2, h3, h4:hover{
  color: #58A238;
}


.sidebarfont{
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}

.bottomsidebarfont{
  font-family: arial, sans-serif;
  text-transform: none;
}

.bold{
  font-weight: bold;
}


.seconddefaultheader {
  font-family: 'Julius Sans One';
  font-size: 1.5em;
}


.followers {
  width: 100%;
  color: black;
  font-family: Helvetica, sans-serif;;
  font-size: 15px;
  font-weight: bold;
}

.followersubheading{
  margin-top: 1px;
  margin-bottom: 1px;
  color: #777;
  font-family: Helvetica, sans-serif;;
  font-size: 15px;
}

.flower{
  background: url('../img/flower.png') no-repeat;
  background-position: left;
  background-size: cover;
  width: 100%;
  height: 134px;
  padding-left: 28%;
  border-bottom: 1px solid #ccc;
}


/* ========= END OF FONTS ============ */

* {
  box-sizing: border-box;
}


body{
  margin: 0;
  padding: 0;
  border: 0;


}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.container {
  height: 100vh;
}

.footer {
  color: white;
  margin: 0 auto;
}

#contactlistlink{
  margin-bottom: 104%;
}


/* ======= FOOTER ========= */

.footer {
  height: 100px;
  color: white;
  margin: 0 auto;
  clear: both;
}


footer {
  width: 100%;
}

footer ul li {
  margin-bottom: 0;
}

.footertext, #privacypolicy {
  margin: 15px 0 0 15px;
  width: 48%;
  float: left;
}

.footertext li{
  float: left;
  display: inline;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#privacypolicy{
  color: white;
  float: right;
  font-size: 16px;
}


/* ======= END OF FOOTER ========= */





/* media queries */

@media screen and (min-width: 56px){
  .header{
    width: 100%;
    border-bottom: 1px solid #fafafa;
    text-align: center;
    padding-top: 2%;
    min-height: 6%;
    padding-left: 2%;
    padding-bottom: 2%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }

  .sidebar{
    width: 100%;
    height: 50vh;
    background-color: #fafafa;
    text-align: center;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;


  }

  .col1, .col2 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    word-wrap: break-word;
  }

  .col1{
    background-color: #fff;
  }

  .col2 {
    background-color: #fff;

  }


  .footer {
    background-color: black;
    width: 100%;
    height: 12%;
    text-align: center;
    color: white;
    padding-top: 3%;
    margin-top: 20%;


  }
} /* end of resolution of 56px */


@media screen and (min-width: 864px){

  body{
    background-color: #fafafa;
  }
  .header {
    width: 75%;
    height: 12%;
    float: right;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }


  .sidebar {
    width: 25%;
    height: 100vh;
    float: left;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
  }

  .twocolumns {
    background-color: #fff;
    width: 75%;
    float: right;
  }

  .col1, .col2{
    float: left;
    width: 50%;
    height: 100vh;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
    text-align: left;
  }

  .footer {
    text-align: center;
    padding-top: 2%;
  }

}

@media screen and (min-width: 56px){
  #contactlistlink {
      margin-bottom: 12%;
  }
} /*  end of 56px */


@media screen and (max-width: 864px){
  #bottomlinks {
      margin-top: 4% !important;
  }
}

@media screen and (min-width: 864px){
  #bottomlinks{
    margin-top: 107%;
  }
}

@media screen and (max-width: 1175px){
  #bottomlinks {
      margin-top: 104%;
  }
} /* end of 1175px */

/* ======= END OF MEDIA QUERIES ========= */
